<footer>
  <div class="navbar navbar-fixed-bottom navbar-inverse">
    <div class="navbar-inner">
      <ul class="nav">
        <li><h5>M&M SolutionsIT, Bests solutions ever</h5></li>
      </ul>
    </div>
  </div>
</footer>