<div class="container main-container">

    <%= render partial: "section_template", locals: { partial_id: "home-container", partial_name: "Home", partial: "home", display: "block" } -%>

    <%= render partial: "section_template", locals: { partial_id: "solutions-container", partial_name: "Solutions", partial: "solutions", display: "none" } -%>

    <%= render partial: "section_template", locals: { partial_id: "webs-container", partial_name: "Webs", partial: "webs", display: "none" } -%>

    <%= render partial: "section_template", locals: { partial_id: "about-container", partial_name: "About", partial: "about", display: "none" } -%>

</div>